extends layout

block content
    div.jumbotron
        div.container
            h1= title
                span.pull-right.glyphicon.glyphicon-ok
            a.h2.btn.btn-primary(href='/') Continue 
                span.glyphicon.glyphicon-chevron-right