extends layout

block content
    div.jumbotron
        div.container
            h1= title
                span.pull-right.glyphicon.glyphicon-user
            h2
                div.row
                    div.col-xs-8
                        span Username: #{userId}
                    div.col-xs-4
                        form(action='/practice', method='post')
                            input(type='hidden', value='#{userId}', name='userId')
                            button.btn.btn-primary.pull-right(type='submit') Proceed To Learn Passwords 
                                span.glyphicon.glyphicon-chevron-right